In [17]:
library(tidyverse)

p101 <- read_csv("./p101.csv", show_col_types = FALSE) %>% mutate(pg = 101)
p102 <- read_csv("./p102.csv", show_col_types = FALSE) %>% mutate(pg = 102)
p103 <- read_csv("./p103.csv", show_col_types = FALSE) %>% mutate(pg = 103)
p104 <- read_csv("./p104.csv", show_col_types = FALSE) %>% mutate(pg = 104)
p105 <- read_csv("./p105.csv", show_col_types = FALSE) %>% mutate(pg = 105)
p106 <- read_csv("./p106.csv", show_col_types = FALSE) %>% mutate(pg = 106)
p107 <- read_csv("./p107.csv", show_col_types = FALSE) %>% mutate(pg = 107)
p108 <- read_csv("./p108.csv", show_col_types = FALSE) %>% mutate(pg = 108)

problems(p103)

df <- bind_rows(p101, p102, p103, p104, p105, p106, p107, p108) %>%
mutate(
    ssn_join = as.numeric(paste0("19", ssn_join)),
    ssn_lve = as.numeric(paste0("19", ssn_lve)),
    is_loan = case_when(
        str_detect(prev_club, "loan") ~ 1,
        TRUE ~ 0
        ),
    prev_club = str_replace(prev_club, " \\(loan\\)", "")
)

In [18]:
df %>%
    select(contains("apps")) %>%
    mutate(
        apps = lge_apps + fac_apps + lc_apps + other_apps,
        diff = total_apps - apps,
    ) %>%
    filter(
        diff != 0
    )

df %>%
    select(contains("sub")) %>%
    mutate(
        subs = lge_sub + fac_sub + lc_sub + other_sub,
        diff = total_subs - subs
    ) %>%
    filter(
        diff != 0
    )

df %>%
    select(contains("gls")) %>%
    mutate(
        goals = lge_gls + fac_gls + lc_gls + other_gls,
        diff = total_gls - goals
    ) %>%
    filter(
        diff != 0
    )

     lge_apps fac_apps lc_apps other_apps total_apps apps diff

     lge_sub fac_sub lc_sub other_sub total_subs subs diff

     lge_gls fac_gls lc_gls other_gls total_gls goals diff

In [19]:
write_csv(df, "./career-stats.csv")