In [33]:
library(tidyverse)

results_df <- read_csv("https://raw.githubusercontent.com/petebrown/update-results/main/data/results_df.csv", show_col_types = FALSE)
df <- read_csv("../output/apps_long.csv", show_col_types = FALSE)
head(df)

  season  game_no player_name shirt_no role    on_for off_for
1 1990/91 1       Nixon       1        starter NA     NA
2 1990/91 1       Mungall     2        starter NA     NA
3 1990/91 1       McCarrick   3        starter NA     NA
4 1990/91 1       McNab       4        starter NA     NA
5 1990/91 1       Hughes      5        starter NA     NA
6 1990/91 1       Vickers     6        starter NA     NA

In [34]:
df %>%
    left_join(
        results_df %>%
        mutate(generic_comp = ifelse(str_detect(competition, "lay"), "Play-Off", generic_comp)) %>%
        select(season, ssn_game_no, opposition, venue, outcome, score, generic_comp),
        by = c("season" = "season", "game_no" = "ssn_game_no")
    ) %>%
    group_by(season, player_name, generic_comp, role) %>%
    mutate(
        generic_comp = factor(generic_comp, levels = c("Football League", "FA Cup", "League Cup", "Play-Off", "Associate Members' Cup", "Full Members' Cup"))
    ) %>%
    summarise(
        appearances = n(),
        .groups = "drop"
    ) %>%
    filter(
        season == "1991/92",
        player_name > "Malkin"
    ) %>%
    pivot_wider(
        names_from = player_name,
        values_from = appearances,
        values_fill = 0
    ) %>%
    arrange(generic_comp, role)

  season  generic_comp      role    Martindale McGreal McNab Morrissey Muir
1 1991/92 Football League   starter 29         3       3     40        13
2 1991/92 Football League   sub      2         0       9      0         7
3 1991/92 FA Cup            starter  1         0       1      4         0
4 1991/92 FA Cup            sub      1         0       1      0         0
5 1991/92 League Cup        starter  5         0       0      5         0
6 1991/92 League Cup        sub      0         0       2      0         0
7 1991/92 Full Members' Cup starter  3         0       2      3         0
8 1991/92 Full Members' Cup sub      0         0       0      0         0
  Mungall Nevin Nixon Nolan Steel Thomas Vickers
1 17      8     46    34    16    30     43
2  1      0      0     0     5     0      0
3  2      0      3     4     0     0      4
4  0      0      0     0     1     0      0
5  2      0      5     0     5     3      3
6  0      0      0     0     0     0      0
7  1      0      4     2     3     0      4
8  1      0      0     0     0     0      0

In [35]:
df <- read_csv("../output/player_stats.csv", show_col_types = FALSE)

df %>% select(prev_club) %>% distinct() %>% arrange(prev_club) %>% write_csv("clubs.csv")