In [3]:
library(tidyverse)

results_df <- read_csv("https://raw.githubusercontent.com/petebrown/update-results/main/data/results_df.csv", show_col_types = FALSE)
df <- read_csv("../output/apps_long.csv", show_col_types = FALSE)
head(df)

  season  game_no player_name shirt_no role    on_for off_for
1 1989/90 1       Nixon       1        starter NA     NA
2 1989/90 1       Higgins     2        starter NA     NA
3 1989/90 1       McCarrick   3        starter NA     NA
4 1989/90 1       Bishop      4        starter NA     NA
5 1989/90 1       Hughes      5        starter NA     NA
6 1989/90 1       Vickers     6        starter NA     NA

In [7]:
df %>%
    left_join(
        results_df %>%
        mutate(generic_comp = ifelse(str_detect(competition, "lay"), "Play-Off", generic_comp)) %>%
        select(season, ssn_game_no, opposition, venue, outcome, score, generic_comp),
        by = c("season" = "season", "game_no" = "ssn_game_no")
    ) %>%
    group_by(season, player_name, generic_comp, role) %>%
    mutate(
        generic_comp = factor(generic_comp, levels = c("Football League", "FA Cup", "League Cup", "Play-Off", "Associate Members' Cup", "Full Members' Cup"))
    ) %>%
    summarise(
        appearances = n(),
        .groups = "drop"
    ) %>%
    filter(
        season == "1989/90",
        player_name > "Malkin"
    ) %>%
    pivot_wider(
        names_from = player_name,
        values_from = appearances,
        values_fill = 0
    ) %>%
    arrange(generic_comp, role)

  season  generic_comp           role    Martindale McCarrick McNab Morrissey
1 1989/90 Football League        starter 13         32        22    24
2 1989/90 Football League        sub      7          0         0     3
3 1989/90 FA Cup                 starter  0          0         0     1
4 1989/90 League Cup             starter  3          5         0     6
5 1989/90 League Cup             sub      3          0         0     0
6 1989/90 Play-Off               starter  0          0         3     0
7 1989/90 Associate Members' Cup starter  2          5         6     4
8 1989/90 Associate Members' Cup sub      0          0         0     1
  Muir Mungall Nixon Pike Steel Thomas Vickers
1 46   16      46    2    29    42     42
2  0    1       0    0     7     0      0
3  1    1       1    1     1     0      1
4  7    2       7    2     3     5      5
5  0    0       0    0     2     0      0
6  3    3       3    0     3     3      3
7  8    5       8    0     7     7      7
8  0    0       0    0     0     0      0

In [2]:
df %>%
    filter(is.na(role))

     season game_no player_name shirt_no role on_for off_for