In [18]:
import pandas as pd
import pyperclip
from IPython.display import display, HTML

def get_urls(season, game_nos, area = "liv"):
    results = pd.read_csv("https://raw.githubusercontent.com/petebrown/update-results/main/data/results_df.csv", parse_dates = ["game_date"], usecols = ["season", "ssn_game_no", "game_date", "opposition", "venue", "competition", "score"])

    if type(game_nos) == list:
        min_game_no = min(game_nos)
        max_game_no = max(game_nos)
    else:
        min_game_no = game_nos
        max_game_no = game_nos

    print(len("ALL MATCHES") * "-")
    print("ALL MATCHES")
    print(len("ALL MATCHES") * "-")
    results = results[(results.season == season) & (results.ssn_game_no >= min_game_no) & (results.ssn_game_no <= max_game_no)].drop(columns = ["season", "ssn_game_no"]).sort_values(by = "game_date")

    display(HTML(results.to_html(index = False)))

    dates = results.game_date

    for date in enumerate(dates):
        n_date = date[0] + 1
        date = date[1]
        
        title = f"Match {n_date} of {len(dates)}"
        print(len(title) * "-")
        print(title)
        print(len(title) * "-")
        
        result = results[results.game_date == date]

        display(HTML(result.to_html(index = False)))

        date_1 = results[results.game_date == date].game_date.astype(str).values[0]
        date_2 = results[results.game_date == date].game_date + pd.Timedelta(days=5)
        date_2 = date_2.astype(str).values[0]

        opp = results[results.game_date == date].opposition.str.split(' ').str[0].values[0]
        
        if area == "liv":
            url = f"https://www.britishnewspaperarchive.co.uk/search/results/{date_1}/{date_2}?basicsearch=%2btranmere%20%2b{opp}&freesearch=tranmere%20{opp}&place=liverpool%2c%20lancashire%2c%20england&retrievecountrycounts=false&mostspecificlocation=liverpool%2c%20lancashire%2c%20england&sortorder=dayearly"
        else:
            url = f"https://www.britishnewspaperarchive.co.uk/search/results/{date_1}/{date_2}?basicsearch=%2btranmere%20%2b{opp}&freesearch=tranmere%20{opp}&&retrievecountrycounts=false&sortorder=dayearly"

        sub_mins = pd.read_csv("./manual/subs_missing_mins.csv", parse_dates = ["game_date"])
        sub_mins = sub_mins[sub_mins.game_date == date]
        
        print("\nSUBSTITUTES")
        print(len("SUBSTITUTES") * "-")
        if len(sub_mins) == 0:
            print("No subs.\n")
        else:
            display(HTML(sub_mins.to_html(index = False)))

        yc = pd.read_csv("./manual/cards_yellow.csv", parse_dates = ["game_date"])
        yc = yc[yc.game_date == date]
        print("\nYELLOW CARDS")
        print(len("Yellow cards") * "-")
        display(HTML(yc.to_html(index = False)))

        rc = pd.read_csv("./manual/cards_red.csv", parse_dates = ["game_date"])
        rc = rc[rc.game_date == date]
        print("\nRED CARDS")
        print(len("Red cards") * "-")
        display(HTML(rc.to_html(index = False)))

        goal_mins = pd.read_csv("./manual/goal_mins_new.csv", parse_dates = ["game_date"])
        goal_mins = goal_mins[goal_mins.game_date == date_1]
        print("\nGOAL MINS")

        display(HTML(goal_mins.to_html(index = False)))

        print("\nLIBRARY URL:")
        print(len("Library URL:") * "-")
        print(f"{url}\n\n")

        if len(dates) == 1:
            pyperclip.copy(url)

In [25]:
get_urls("1992/93", [51, 60])

-----------
ALL MATCHES
-----------

------------
Match 1 of 9
------------

SUBSTITUTES
-----------
No subs.


YELLOW CARDS
------------

RED CARDS
---------

GOAL MINS

LIBRARY URL:
------------
https://www.britishnewspaperarchive.co.uk/search/results/1993-04-10/1993-04-15?basicsearch=%2btranmere%20%2bMillwall&freesearch=tranmere%20Millwall&place=liverpool%2c%20lancashire%2c%20england&retrievecountrycounts=false&mostspecificlocation=liverpool%2c%20lancashire%2c%20england&sortorder=dayearly


------------
Match 2 of 9
------------

SUBSTITUTES
-----------

YELLOW CARDS
------------

RED CARDS
---------

GOAL MINS

LIBRARY URL:
------------
https://www.britishnewspaperarchive.co.uk/search/results/1993-04-12/1993-04-17?basicsearch=%2btranmere%20%2bBarnsley&freesearch=tranmere%20Barnsley&place=liverpool%2c%20lancashire%2c%20england&retrievecountrycounts=false&mostspecificlocation=liverpool%2c%20lancashire%2c%20england&sortorder=dayearly


------------
Match 3 of 9
------------

SUBSTITUTES
-----------
No subs.


YELLOW CARDS
------------

RED CARDS
---------

GOAL MINS

LIBRARY URL:
------------
https://www.britishnewspaperarchive.co.uk/search/results/1993-04-17/1993-04-22?basicsearch=%2btranmere%20%2bWolverhampton&freesearch=tranmere%20Wolverhampton&place=liverpool%2c%20lancashire%2c%20england&retrievecountrycounts=false&mostspecificlocation=liverpool%2c%20lancashire%2c%20england&sortorder=dayearly


------------
Match 4 of 9
------------

SUBSTITUTES
-----------

YELLOW CARDS
------------

RED CARDS
---------

GOAL MINS

LIBRARY URL:
------------
https://www.britishnewspaperarchive.co.uk/search/results/1993-04-24/1993-04-29?basicsearch=%2btranmere%20%2bBirmingham&freesearch=tranmere%20Birmingham&place=liverpool%2c%20lancashire%2c%20england&retrievecountrycounts=false&mostspecificlocation=liverpool%2c%20lancashire%2c%20england&sortorder=dayearly


------------
Match 5 of 9
------------

SUBSTITUTES
-----------

YELLOW CARDS
------------

RED CARDS
---------

GOAL MINS

LIBRARY URL:
------------
https://www.britishnewspaperarchive.co.uk/search/results/1993-05-01/1993-05-06?basicsearch=%2btranmere%20%2bWatford&freesearch=tranmere%20Watford&place=liverpool%2c%20lancashire%2c%20england&retrievecountrycounts=false&mostspecificlocation=liverpool%2c%20lancashire%2c%20england&sortorder=dayearly


------------
Match 6 of 9
------------

SUBSTITUTES
-----------

YELLOW CARDS
------------

RED CARDS
---------

GOAL MINS

LIBRARY URL:
------------
https://www.britishnewspaperarchive.co.uk/search/results/1993-05-04/1993-05-09?basicsearch=%2btranmere%20%2bSunderland&freesearch=tranmere%20Sunderland&place=liverpool%2c%20lancashire%2c%20england&retrievecountrycounts=false&mostspecificlocation=liverpool%2c%20lancashire%2c%20england&sortorder=dayearly


------------
Match 7 of 9
------------

SUBSTITUTES
-----------
No subs.


YELLOW CARDS
------------

RED CARDS
---------

GOAL MINS

LIBRARY URL:
------------
https://www.britishnewspaperarchive.co.uk/search/results/1993-05-08/1993-05-13?basicsearch=%2btranmere%20%2bPeterborough&freesearch=tranmere%20Peterborough&place=liverpool%2c%20lancashire%2c%20england&retrievecountrycounts=false&mostspecificlocation=liverpool%2c%20lancashire%2c%20england&sortorder=dayearly


------------
Match 8 of 9
------------

SUBSTITUTES
-----------

YELLOW CARDS
------------

RED CARDS
---------

GOAL MINS

LIBRARY URL:
------------
https://www.britishnewspaperarchive.co.uk/search/results/1993-05-16/1993-05-21?basicsearch=%2btranmere%20%2bSwindon&freesearch=tranmere%20Swindon&place=liverpool%2c%20lancashire%2c%20england&retrievecountrycounts=false&mostspecificlocation=liverpool%2c%20lancashire%2c%20england&sortorder=dayearly


------------
Match 9 of 9
------------

SUBSTITUTES
-----------

YELLOW CARDS
------------

RED CARDS
---------

GOAL MINS

LIBRARY URL:
------------
https://www.britishnewspaperarchive.co.uk/search/results/1993-05-19/1993-05-24?basicsearch=%2btranmere%20%2bSwindon&freesearch=tranmere%20Swindon&place=liverpool%2c%20lancashire%2c%20england&retrievecountrycounts=false&mostspecificlocation=liverpool%2c%20lancashire%2c%20england&sortorder=dayearly

In [20]:
def save_files():
    sub_mins = pd.read_csv("./manual/subs_missing_mins.csv", parse_dates = ["game_date"]).sort_values(by = ["game_date"])
    sub_mins.to_csv("./manual/subs_missing_mins.csv", index = False)

    yc = pd.read_csv("./manual/cards_yellow.csv", parse_dates = ["game_date"]).sort_values(by = ["game_date"])
    yc.to_csv("./manual/cards_yellow.csv", index = False)

    rc = pd.read_csv("./manual/cards_red.csv", parse_dates = ["game_date"]).sort_values(by = ["game_date", "min_so"])
    rc.to_csv("./manual/cards_red.csv", index = False)

    goal_mins = pd.read_csv("./manual/goal_mins_new.csv", parse_dates = ["game_date"]).sort_values(by = ["game_date", "goal_min"])
    goal_mins.to_csv("./manual/goal_mins_new.csv", index = False)

save_files()