In [2]:
library(tidyverse)

scorers_a <- read_csv("/Users/petebrown/Developer/complete-record/output/scorers-long.csv", show_col_types = FALSE) %>%
    mutate(player_name = case_when(
        .default = player_name,
        player_name == "Ian Thomas-Moore" ~ "Ian Moore",
        player_name == "John Morrissey" ~ "Johnny Morrissey"
    )) %>%
    filter(season < 1997) %>%
    group_by(player_name) %>%
    summarise(goals_a = sum(goals_scored))

head(scorers_a)

  player_name   goals_a
1 Abe Rosenthal 40
2 Adrian Thorpe  3
3 Aiden Maher    1
4 Alan A'Court  11
5 Alan Arnell   38
6 Alan Cox       2

In [3]:
scorers_b <- read_csv("/Users/petebrown/Developer/complete-record/output/player_stats.csv", show_col_types = FALSE) %>%
    mutate(
        player_name = paste(forename, surname, sep = " ")
    ) %>%
    group_by(player_name) %>%
    summarise(goals_b = sum(total_gls))

head(scorers_b)

  player_name   goals_b
1 Abe Rosenthal 44
2 Adrian Thorpe  3
3 Aiden Maher    1
4 Alan A'Court  11
5 Alan Arnell   38
6 Alan Blundell  0

In [4]:
full_join(
    x = scorers_a,
    y = scorers_b,
    by = "player_name"
) %>%
filter(goals_a != goals_b)

  player_name       goals_a goals_b
1 Abe Rosenthal      40      44
2 Harold Atkinson   102     104
3 Harold Bell        11      12
4 Llew Ashcroft       4       6
5 Stewie Williamson  22      23

In [5]:
read_csv("/Users/petebrown/Developer/complete-record/output/scorers-long.csv", show_col_types = FALSE) %>%
    mutate(player_name = case_when(
        .default = player_name,
        player_name == "Ian Thomas-Moore" ~ "Ian Moore",
        player_name == "John Morrissey" ~ "Johnny Morrissey"
    )) %>%
    filter(season < 1997) %>%
    group_by(
        season,
        player_name
    ) %>%
    summarise(
        goals = sum(goals_scored),
        .groups = "drop"
    ) %>%
    filter(
        player_name == "Stewie Williamson"
    )

  season  player_name       goals
1 1948/49 Stewie Williamson 7
2 1949/50 Stewie Williamson 5
3 1950/51 Stewie Williamson 6
4 1951/52 Stewie Williamson 4

Abe Rosenthal FA Cup goals for 1946/47 on page 106 are TOO HIGH by 4

Harold Atkinson FA Cup goals on page 101 are TOO HIGH by 2

Harold Bell FA Cup goals on page 101 are TOO HIGH by 1

Ian Moore disparity is only due to 1996/97 season being under Ian Thomas Moore

Llew Ashcroft FA Cup goals on page 101 are TOO HIGH by 2

Johnny Morrissey disparity is only due to 1996/97 season being under John Morrissey

Stewie Williams FA Cup goals on page 108 are TOO HIGH by 1