In [18]:
library(tidyverse)

s2122 <- read_csv("./csv/1921-22.csv", show_col_types = FALSE)
s2223 <- read_csv("./csv/1922-23.csv", show_col_types = FALSE)
s2324 <- read_csv("./csv/1923-24.csv", show_col_types = FALSE)
s2425 <- read_csv("./csv/1924-25.csv", show_col_types = FALSE)
s2526 <- read_csv("./csv/1925-26.csv", show_col_types = FALSE)
s2627 <- read_csv("./csv/1926-27.csv", show_col_types = FALSE)
s2728 <- read_csv("./csv/1927-28.csv", show_col_types = FALSE)
s2829 <- read_csv("./csv/1928-29.csv", show_col_types = FALSE)
s2930 <- read_csv("./csv/1929-30.csv", show_col_types = FALSE)

s4647 <- read_csv("./csv/1946-47.csv", show_col_types = FALSE)
s4748 <- read_csv("./csv/1947-48.csv", show_col_types = FALSE)
s4849 <- read_csv("./csv/1948-49.csv", show_col_types = FALSE)
s4950 <- read_csv("./csv/1949-50.csv", show_col_types = FALSE)
s5051 <- read_csv("./csv/1950-51.csv", show_col_types = FALSE)
s5152 <- read_csv("./csv/1951-52.csv", show_col_types = FALSE)
s5253 <- read_csv("./csv/1952-53.csv", show_col_types = FALSE)
s5354 <- read_csv("./csv/1953-54.csv", show_col_types = FALSE)
s5455 <- read_csv("./csv/1954-55.csv", show_col_types = FALSE)
s5556 <- read_csv("./csv/1955-56.csv", show_col_types = FALSE)
s5657 <- read_csv("./csv/1956-57.csv", show_col_types = FALSE)
s5758 <- read_csv("./csv/1957-58.csv", show_col_types = FALSE)
s5859 <- read_csv("./csv/1958-59.csv", show_col_types = FALSE)
s5960 <- read_csv("./csv/1959-60.csv", show_col_types = FALSE)
s6061 <- read_csv("./csv/1960-61.csv", show_col_types = FALSE)
s6162 <- read_csv("./csv/1961-62.csv", show_col_types = FALSE)
s6263 <- read_csv("./csv/1962-63.csv", show_col_types = FALSE)
s6364 <- read_csv("./csv/1963-64.csv", show_col_types = FALSE)
s6465 <- read_csv("./csv/1964-65.csv", show_col_types = FALSE)
s6566 <- read_csv("./csv/1965-66.csv", show_col_types = FALSE)
s6667 <- read_csv("./csv/1966-67.csv", show_col_types = FALSE)
s6768 <- read_csv("./csv/1967-68.csv", show_col_types = FALSE)
s6869 <- read_csv("./csv/1968-69.csv", show_col_types = FALSE)
s6970 <- read_csv("./csv/1969-70.csv", show_col_types = FALSE)
s7071 <- read_csv("./csv/1970-71.csv", show_col_types = FALSE)
s7172 <- read_csv("./csv/1971-72.csv", show_col_types = FALSE)
s7273 <- read_csv("./csv/1972-73.csv", show_col_types = FALSE)
s7374 <- read_csv("./csv/1973-74.csv", show_col_types = FALSE)
s7475 <- read_csv("./csv/1974-75.csv", show_col_types = FALSE)
s7576 <- read_csv("./csv/1975-76.csv", show_col_types = FALSE)
s7677 <- read_csv("./csv/1976-77.csv", show_col_types = FALSE)
s7778 <- read_csv("./csv/1977-78.csv", show_col_types = FALSE)
s7879 <- read_csv("./csv/1978-79.csv", show_col_types = FALSE)
s7980 <- read_csv("./csv/1979-80.csv", show_col_types = FALSE)
s8081 <- read_csv("./csv/1980-81.csv", show_col_types = FALSE)
s8182 <- read_csv("./csv/1981-82.csv", show_col_types = FALSE)
s8283 <- read_csv("./csv/1982-83.csv", show_col_types = FALSE)
s8384 <- read_csv("./csv/1983-84.csv", show_col_types = FALSE)
s8485 <- read_csv("./csv/1984-85.csv", show_col_types = FALSE)
s8586 <- read_csv("./csv/1985-86.csv", show_col_types = FALSE)
s8687 <- read_csv("./csv/1986-87.csv", show_col_types = FALSE)
s8788 <- read_csv("./csv/1987-88.csv", show_col_types = FALSE)
s8889 <- read_csv("./csv/1988-89.csv", show_col_types = FALSE)
s8990 <- read_csv("./csv/1989-90.csv", show_col_types = FALSE)
s9091 <- read_csv("./csv/1990-91.csv", show_col_types = FALSE)
s9192 <- read_csv("./csv/1991-92.csv", show_col_types = FALSE)
s9293 <- read_csv("./csv/1992-93.csv", show_col_types = FALSE)
s9394 <- read_csv("./csv/1993-94.csv", show_col_types = FALSE)
s9495 <- read_csv("./csv/1994-95.csv", show_col_types = FALSE)
s9596 <- read_csv("./csv/1995-96.csv", show_col_types = FALSE)

results <- bind_rows(s2122, s2223, s2324, s2425, s2526, s2627, s2728, s2829, s2930, s4647, s4748, s4849, s4950, s5051, s5152, s5253, s5354, s5455, s5556, s5657, s5758, s5859, s5960, s6061, s6162, s6263, s6364, s6465, s6566, s6667, s6768, s6869, s6970, s7071, s7172, s7273, s7374, s7475, s7576, s7677, s7778, s7879, s7980, s8081, s8182, s8283, s8384, s8586, s8687, s8788,s8889, s8990, s9091, s9192, s9293, s9394, s9495, s9596) %>%
    group_by(
        season
    ) %>%
    mutate(
        game_no = row_number()
    ) %>%
    select(season, game_no, scorers)

In [19]:
players <- read_csv("../output/player_ssns.csv", show_col_types = FALSE) %>%
    select(
        season,
        surname,
        player_name,
        disam_name
    ) %>%
    unique()

In [20]:
# Pivot scorers to wide format
scorers <- separate_wider_delim(
    results,
    scorers,
    delim = ",",
    names_sep = "",
    too_few = "align_start"
) %>%
mutate(
    across(starts_with("scorers"), str_squish)
  ) %>%
  pivot_longer(
    starts_with("scorers"),
    values_to = "scorer"
  ) %>%
  filter(
    !is.na(scorer)
  ) %>%
mutate(
  scorer_name = case_when(
    str_detect(scorer, "\\s\\d+$") ~ str_replace_all(scorer, "(?:\\s\\d+)?$", ""),
    TRUE ~ scorer
  ),
  goals_scored = case_when(
    str_detect(scorer, "\\s\\d+$") ~ str_extract(scorer, "\\d+$") %>% as.numeric(),
    TRUE ~ 1
  )
 ) %>%
left_join(
  players,
  by = c("season" = "season", "scorer_name" = "disam_name")
) %>%
group_by(
  season,
  game_no
) %>%
mutate(
  goals_for = sum(goals_scored),
  player_name = case_when(
    scorer_name == "OG" ~ "OG",
    .default = player_name
  )
)

# Check for players with missing full names
scorers %>% ungroup() %>% filter(is.na(player_name)) %>%
select(season, scorer_name) %>%
  unique() %>% arrange(season, scorer_name)

     season scorer_name

In [21]:
# Import results data
results_df <- read_csv("https://raw.githubusercontent.com/petebrown/update-results/main/data/results_df.csv", show_col_types = FALSE) %>%
  rename(game_no = ssn_game_no) %>%
  select(season, game_no, game_date, opposition, venue, score, goals_for, goals_against, generic_comp, game_type, league_tier, manager)

# Check for games where no of goals scores differs from scorer data
results_df %>%
  inner_join(
    scorers,
    by = c("season", "game_no")
  ) %>%
  select(
    season, game_no, game_date, opposition, venue, score, goals_for.x, goals_for.y
  ) %>%
  filter(
    goals_for.x != goals_for.y
  ) %>%
  unique()

     season game_no game_date opposition venue score goals_for.x goals_for.y

In [22]:
# Import Soccerbase goal data
goals_2 <- read_csv("https://raw.githubusercontent.com/petebrown/update-player-stats/main/data/players_df.csv", show_col_type = FALSE) %>%
    select(game_date, player_name, pl_goals) %>%
    filter(pl_goals > 0) %>%
    left_join(results_df %>% select(game_date, season, game_no), by = "game_date") %>%
    rename(
        goals_scored = pl_goals
    ) %>%
    select(season, game_no, player_name, goals_scored) %>%
    arrange(season, game_no)

In [23]:
# Bind new dataframes with Soccerbase data
scorers_long <- scorers %>%
    select(
        season, game_no, player_name, goals_scored
    ) %>%
    bind_rows(goals_2)

write_csv(scorers_long, "../output/scorers-long.csv")

In [24]:
# Join scorers to results
all_scorers <- scorers_long %>%
  left_join(results_df, by = c("season", "game_no"))

head(all_scorers, 3)

  season  game_no player_name    goals_scored game_date  opposition      venue
1 1921/22 1       Tom Stuart     1            1921-08-27 Crewe Alexandra H
2 1921/22 1       Charles Milnes 1            1921-08-27 Crewe Alexandra H
3 1921/22 1       Fred Groves    1            1921-08-27 Crewe Alexandra H
  score goals_for goals_against generic_comp    game_type league_tier
1 4-1   4         1             Football League League    3
2 4-1   4         1             Football League League    3
3 4-1   4         1             Football League League    3
  manager
1 Bert Cooke
2 Bert Cooke
3 Bert Cooke

In [25]:
# Pivot to wide format for attachment to results
scorers_wide <- scorers %>%
    select(season, game_no, player_name, goals_scored) %>%
    mutate(
        scorer = paste(player_name, goals_scored, sep = " ")
    ) %>%
    group_by(season, game_no) %>%
    summarise(
        scorers = paste(scorer, collapse = ", "),
        goals_for = sum(goals_scored),
        .groups = "drop"
    ) %>%
    mutate(
        scorers = str_replace_all(scorers, " 1", "")
    ) %>%
    select(season, game_no, scorers)

head(scorers_wide, 3)

write_csv(scorers_wide, "../output/scorers_wide.csv")

  season  game_no scorers
1 1921/22 1       Tom Stuart, Charles Milnes, Fred Groves, John Ford
2 1921/22 2       John Prentice
3 1921/22 5       Denis Bullough, John Prentice

In [26]:
all_scorers %>%
    filter(
        game_type == "League"
    ) %>%
    group_by(
        season,
        player_name
    ) %>%
    summarise(
        goals_scored = sum(goals_scored),
        .groups = "drop"
    ) %>%
    ungroup() %>%
    group_by(
        season
    ) %>%
    mutate(
        pc_gls = round((goals_scored / sum(goals_scored)) * 100, 1)
    ) %>%
    arrange(
        desc(pc_gls),
        season,
        player_name
    ) %>%
    group_by(season) %>%
    slice_max(
        goals_scored,
        n = 3
    ) %>%
    ungroup() %>%
    arrange(
        desc(pc_gls), desc(goals_scored), season, player_name
    ) %>%
    head(10)

   season  player_name     goals_scored pc_gls
1  2018/19 James Norwood   29           46.8
2  1924/25 Dixie Dean      27           45.8
3  1987/88 Ian Muir        27           44.3
4  1953/54 Cyril Done      25           42.4
5  1995/96 John Aldridge   27           42.2
6  1991/92 John Aldridge   22           39.3
7  1975/76 Ronnie Moore    34           38.2
8  1949/50 Bill Bainbridge 19           37.3
9  2013/14 Ryan Lowe       19           37.3
10 1967/68 George Yardley  23           37.1

In [27]:
scorers_long %>%
group_by(season, player_name) %>%
summarise(
    goals = sum(goals_scored),
    .groups = "drop"
) %>%
arrange(
    desc(goals),
    season,
    player_name
) %>%
filter(
    goals >= 20
)

   season  player_name       goals
1  1991/92 John Aldridge     40
2  1975/76 Ronnie Moore      37
3  1989/90 Ian Muir          35
4  1953/54 Cyril Done        32
5  2018/19 James Norwood     32
6  1965/66 Barry Dyson       31
7  1957/58 Keith Williams    30
8  1960/61 Keith Williams    30
9  1963/64 Barry Dyson       30
10 1964/65 Barry Dyson       29
11 1987/88 Ian Muir          29
12 1988/89 Ian Muir          29
13 1995/96 John Aldridge     29
14 1993/94 John Aldridge     28
15 2017/18 Andy Cook         28
16 1924/25 Dixie Dean        27
17 1961/62 Alan Arnell       27
18 1967/68 George Yardley    27
19 1926/27 Jack Flanagan     26
20 1952/53 Cyril Done        26
21 1958/59 Keith Williams    26
22 1958/59 Tony Rowley       26
23 1992/93 John Aldridge     26
24 1994/95 John Aldridge     26
25 1986/87 Ian Muir          25
26 1927/28 Billy Charlton    24
27 1927/28 Pongo Waring      24
28 1964/65 Charlie McDonnell 24
29 1989/90 Chris Malkin      24
30 1962/63 Dave Hickson      23
31 2016/17 Andy Cook         23
32 2017/18 James Norwood     23
33 1925/26 Fred Marquis      22
34 1946/47 Harold Atkinson   22
35 1964/65 John Manning      22
36 2002/03 Simon Haworth     22
37 2020/21 James Vaughan     22
38 1961/62 Ralph Gubbins     21
39 1990/91 Ian Muir          21
40 1929/30 Billy Charlton    20
41 1963/64 John Manning      20
42 1969/70 George Yardley    20
43 1985/86 Frank Worthington 20
44 1996/97 John Aldridge     20
45 2013/14 Ryan Lowe         20

In [28]:
mans_10 <- results_df %>%
    group_by(manager) %>%
    summarise(
        games = n()
    ) %>%
    filter(games >= 10)

all_scorers %>%
    filter(
        game_type == "League",
        manager %in% mans_10$manager
    ) %>%
    group_by(
        manager,
        player_name
    ) %>%
    summarise(
        goals_scored = sum(goals_scored),
        .groups = "drop"
    ) %>%
    ungroup() %>%
    group_by(
        manager
    ) %>%
    mutate(
        pc_gls = round((goals_scored / sum(goals_scored)) * 100, 1)
    ) %>%
    arrange(
        desc(pc_gls),
        manager,
        player_name
    ) %>%
    filter(
        manager == "John King"
    )

   manager   player_name        goals_scored pc_gls
1  John King John Aldridge      112          12.3
2  John King Ian Muir           108          11.9
3  John King Ronnie Moore        70           7.7
4  John King Chris Malkin        59           6.5
5  John King Johnny Morrissey    36           4.0
6  John King Steve Peplow        36           4.0
7  John King Russell Allen       32           3.5
8  John King Jim Steel           29           3.2
9  John King Pat Nevin           28           3.1
10 John King Kenny Irons         27           3.0
11 John King John James          24           2.6
12 John King Eddie Bishop        19           2.1
13 John King Clive Evans         18           2.0
14 John King Jimmy Harvey        18           2.0
15 John King Bobby Tynan         16           1.8
16 John King Mark Palios         16           1.8
17 John King OG                  16           1.8
18 John King Ged Brannan         14           1.5
19 John King Mark McCarrick      14           1.5
20 John King Jim Lumby           13           1.4
21 John King John Kerr           12           1.3
22 John King Kenny Beamish       12           1.3
23 John King Tony Thomas         12           1.3
24 John King Dave Higgins        10           1.1
25 John King Tommy O'Neil        10           1.1
26 John King Dave Martindale      9           1.0
27 John King Gary Bennett         9           1.0
28 John King Ian Moore            9           1.0
29 John King Steve Vickers        9           1.0
30 John King Mark Hughes          8           0.9
⋮  ⋮         ⋮                  ⋮            ⋮
38 John King Shaun Garnett      5            0.6
39 John King Barrie Mitchell    4            0.4
40 John King Eddie Cliff        4            0.4
41 John King John Kelly         4            0.4
42 John King Liam O'Brien       4            0.4
43 John King Eddie Flood        3            0.3
44 John King John Bramhall      3            0.3
45 John King Kenny McKenna      3            0.3
46 John King Steve Cooper       3            0.3
47 John King Alan Rogers        2            0.2
48 John King Graham Branch      2            0.2
49 John King John Thomas        2            0.2
50 John King Jon Kenworthy      2            0.2
51 John King Les Parry          2            0.2
52 John King Paul Crossley      2            0.2
53 John King Ray Mathias        2            0.2
54 John King Chris Camden       1            0.1
55 John King David Fairclough   1            0.1
56 John King Dennis Postlewhite 1            0.1
57 John King Eddie Murray       1            0.1
58 John King Elfyn Edwards      1            0.1
59 John King Gary Stevens       1            0.1
60 John King Gary Williams      1            0.1
61 John King Ian Nolan          1            0.1
62 John King John Aspinall      1            0.1
63 John King John McGreal       1            0.1
64 John King Mark Proctor       1            0.1
65 John King Paul Cook          1            0.1
66 John King Steve Bullock      1            0.1
67 John King Tommy Coyne        1            0.1